<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}">
    <title>Input</title>
</head>
<body>
<h1>Input</h1>
<h2>Enter your name</h2>
<form action="Output.html" th:action="@{Output}">
    <p>
        <label for="n">Name:</label>
        <input id="n" th:name="name">
    </p>
    <p>
        <label>Status:
        <input type="radio" th:faculty="faculty">Faculty
        <input type="radio" th:staff="staff">Staff
        </label>
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>

</form>

</body>
<footer>Sheridan College/Loveya Gahir</footer>
</html>